/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-feb-2019, 16:15:09
    Author     : Usuario
*/

body {
    font-family: Roboto;
    margin-top: 51px
}
body.body-inicio {
/*    background-color: #89b5dc;*/
    background-color: #004786;
    margin-top: 0px
}
button a {
    color: white;
}
img.imgInicio {
    border-radius: 10px;
}
.centrado-automatico {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.boton-agregar {
    margin: 15px 5px !important;
}
div {
    word-wrap: break-word;
}
.minav-logo {
	width: 50px;
	display: inline-flex !important;
	border-radius: 50%;
        margin-right: 5px;
}
.minav-caja-logo {
	/*display: inline-block;*/
	padding-top: 12px;
	/*width: 50px;*/
	/*padding: 0;*/
}
.navbar-header>.active {
    color: #fff;
    background-color: #080808;
}
.form-con-fondo {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #e6e6e6;
    border-radius: 10px;
}

/*td a {
    display: block;
    color: #333;
}
td a:hover {
    text-decoration: none;
    color: #333;
}*/
tr:hover {
    background-color: #e2e2e2;

}
.justify {
    text-align: justify;
}
@media (min-width: 992px) {
    .alinear-contenido-vertical {
        display: flex;
        align-items: center;
    }
}

.col-md-0 {
    max-width: 50px;
    width: 35px;
    text-align: center;
}
.negrita {
    font-weight: 700;
    color: #333;
}

/*lista productos*/
.div-contenedor-buscador {
    border-radius: 10px;
    background-color: #dadada1f;
    padding-top: 15px;
    margin-bottom: 10px;
}
.lista-prod a {
    /*    display: block;*/
    color: #333;
}
.lista-prod a:hover {
    text-decoration: none;
    color: #333;
}
.fila-lista-prod {
    min-height: 180px;
    /*    background-color: #0686145c;*/
    background-color: #e4e4e45c;
    margin-bottom: 10px;
    
}
.fila-lista-prod:hover {
    background-color: #e2e2e2;
}
.img-lista-prod {
    width: 100%;
}
.nombre-lista-prod {
    font-size: 2em;
    font-weight: 400;
    margin: 10px 0px;
}
.nombre-lista-prod a {
    color: #0066c0;
}
.nombre-lista-prod a:hover {
    color: #c45500;
}
.precio-lista-prod, .precio-detalle-prod {
    color: #B12704;
}
.descripcion-lista-prod {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 10px 0px;
}


/*detalle producto*/
.div-img-detalle-prod {
    width: 60%;
    margin: auto;
    border-radius: 10px;
    background-color: beige;
    border: 10px solid;
}
.img-detalle-prod {
    width: 100%;
}
.div-titulo1-detalleProd {
    padding-right: 0px;
}
.div-titulo2-detalleProd {
    margin-top: 13px;
    padding-left: 0px;
}


/* ventana modal */

.modal {
    background: rgba(0,0,0,0.8);
}
.modal-dialog {
    top: 20%;
}
.modal-content {
    background-color: #ffb4b4fc;
}
/*.modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        display:none;
        -webkit-transition: all 400ms ease-in;
        -moz-transition: all 400ms ease-in;
        transition: all 400ms ease-in;
        pointer-events: auto;
}*/
/*.modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}*/